@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #000;
  font-family: 'Roboto', sans-serif;
}

.myShadow:hover {
  -webkit-box-shadow: -1px 3px 15px 0px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: -1px 3px 15px 0px rgba(255, 255, 255, 0.7);
  box-shadow: -1px 3px 15px 0px rgba(255, 255, 255, 0.7);
  
}